@{
    ViewData["Title"] = "Página Inicial";
    Layout = "_Layout";
}

<div id="Home">
    <div class="Home-Text-Align">
        <h1 class="Titulo">DataVault</h1>
        <h2 class="Text-Titulo1">organiza-se</h2>
        <h3 class="Text-Titulo2">automaticamente</h3>
        <p class="Paragrafo-Titulo">Encontre seus arquivos de forma rápida e fácil.</p>
    </div>
    <img src="~/imagens/developers-gif-showcase.gif" alt="Exemplo" class="Img-Home">
</div>

<div class="Bloco-Divisao">
    <h1 class="Titulo-Divisao">Comece a entender o que é DataVault.</h1>
</div>

<div id="Quem-Somos">
    <div class="Parte-1">
        <h1 class="Titulo-QuemSomos">Quem ou o que é o DataVault?</h1>
        <p class="Paragrafo-QuemSomos">
            O DataVault é um software organizador de arquivos que realiza buscas rápidas e diretas,
            atendendo tanto usuários quanto empresas.
        </p>
        <img src="~/imagens/seguranca.gif" alt="Segurança" class="Img-QuemSomos">
    </div>

    <div class="Titulo-2-QuemSomos">
        Quais são as vantagens de usar o DataVault?
    </div>

    <div class="Seguranca">
        <h1 class="Titulo-Seguranca">Segurança</h1>
        <p class="Estrela">★</p>
        <p class="P1">Seus arquivos estão seguros no DataVault. Temos verificação de identidade, senha, confirmação de senha e um código enviado para seu e-mail.</p>
        <p class="P2">No DataVault, temos um recurso de segurança dentro dos arquivos que permite definir uma senha para proteger dados sensíveis.</p>
        <div class="Circulo1">✔</div>
        <div class="Circulo2">✔</div>
    </div>

    <div class="Eficiencia">
        <h1 class="Titulo-Eficiencia">Eficiência</h1>
        <p class="Estrela">★</p>
        <p class="P1">Temos grande eficiência na busca de arquivos no nosso armazenamento. Temos um sistema de filtragem que permite encontrar arquivos por tipo, nome e conteúdo.</p>
        <p class="P2">A eficiência do DataVault é um dos seus grandes pontos fortes. Buscar arquivos, independentemente do tipo, nunca foi tão intuitivo, fácil e rápido.</p>
        <div class="Circulo1">✔</div>
        <div class="Circulo2">✔</div>
    </div>

    <div class="Velocidade">
        <h1 class="Titulo-Velocidade">Velocidade</h1>
        <p class="Estrela">★</p>
        <p class="P1">O DataVault é rápido e prático, e os arquivos podem ser encontrados facilmente em um instante.</p>
        <p class="P2">A barra de pesquisa é de fácil acesso, e com o sistema de filtragem, encontrar o que você procura é muito mais rápido.</p>
        <div class="Circulo1">✔</div>
        <div class="Circulo2">✔</div>
    </div>
</div>

<div id="Tutorial">
    <h1 class="Titulo-Tutorial">Este é o passo a passo de como se cadastrar no DataVault.</h1>

    <div class="Parte-1-Tutorial" data-aos="fade-up" data-aos-delay="400" data-aos-duration="900" data-aos-easing="ease-in-out">
        <div class="Titulo-mais-Circulo">
            <h1 class="Passo1">Passo</h1>
            <div class="Circulo-Tutorial">1</div>
        </div>
        <p class="Paragrafo-1-Tutorial">
            Vá até o topo do site e clique no botão azul rotulado como login.
            Se você já tiver feito login antes, clique no botão Cadastro.
        </p>
        <img src="~/imagens/parte1.png" alt="Passo 1" class="Img-Partes-left">
    </div>

    <div class="Parte-2-Tutorial" data-aos="fade-up" data-aos-delay="400" data-aos-duration="900" data-aos-easing="ease-in-out">
        <div class="Titulo-mais-Circulo">
            <h1 class="Passo2">Passo</h1>
            <div class="Circulo-Tutorial">2</div>
        </div>
        <p class="Paragrafo-2-Tutorial">
            Após clicar no botão de login, você acessará o formulário de cadastro, que deverá ser preenchido e enviado para concluir.
        </p>
        <img src="~/imagens/parte2.png" alt="Passo 2" class="Img-Partes-right">
    </div>

    <div class="Parte-3-Tutorial" data-aos="fade-up" data-aos-delay="400" data-aos-duration="900" data-aos-easing="ease">
        <div class="Titulo-mais-Circulo">
            <h1 class="Passo3">Passo</h1>
            <div class="Circulo-Tutorial">3</div>
        </div>
        <img src="~/imagens/logo.png" alt="Logo" class="Img-Partes-left">
        <p class="Paragrafo-3-Tutorial">
            E pronto — tudo estará preparado para você começar a usar o DataVault, uma nova forma de organizar a sua vida.
        </p>
    </div>
</div>