@model DataVault.Models.Usuario
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - DataVault</title>
    <link rel="stylesheet" href="~/css/cadastro.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div class="fundo">
        <div class="alinharbtn">
            <button class="btnhome">
                <a asp-controller="Home" asp-action="Index" class="a">Home</a>
            </button>

            <button class="btnlogin">
                <a asp-controller="Home" asp-action="PagLogin" class="a">Login</a>
            </button>
        </div>

        <div class="glass">
            <form asp-controller="Usuario" asp-action="Cadastro" method="post">
                <div class="titles">
                    <h1>Minha Conta</h1>
                    <h3>Cadastro</h3>
                </div>

                <!-- Exibe erros de validação -->
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="formatacao-form">
                    <p>Nome:</p>
                    <input asp-for="nome_cliente" class="form-control" required />
                    <span asp-validation-for="nome_cliente" class="text-danger"></span>

                    <p>E-mail:</p>
                    <input asp-for="Email" type="email" class="form-control" required />
                    <span asp-validation-for="Email" class="text-danger"></span>

                    <p>Senha:</p>
                    <input asp-for="Senha" type="password" class="form-control" required />
                    <span asp-validation-for="Senha" class="text-danger"></span>

                    <p>Confirmar Senha:</p>
                    <input type="password" name="ConfirmarSenha" class="form-control" required />
                </div>

                <div class="alinharfinal">
                    <button type="submit" class="btnenviar">Enviar</button>
                    <span>Já tem uma conta?</span>
                    <a asp-controller="Home" asp-action="PagLogin">Login</a>
                </div>
            </form>
        </div>

        <img src="~/imagens/logo-removebg-preview.png" alt="Logo" class="logo" />

        <div class="ladoimg">
            <img src="~/imagens/imagem.cadasttro.png" alt="Imagem Cadastro" class="imagem-site" />
            <div class="formatacaop">
                <p>Faça seu Cadastro</p>
                <p>no DataVault</p>
                <p>e seja Bem Vindo!</p>
            </div>
        </div>
    </div>

    <script src="~/js/site.js"></script>
    <partial name="_ValidationScriptsPartial" />
</body>
</html>