body{
    background-color:#e9f5ff;
  overflow: hidden;
  /*
  font: #0f1ea8;
  font:#0010a2;
  */
}
#colors{
    color: #0f1ea8;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#icone_menu{
    width: 20vw;

}
#texto_config{
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#setegrids{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 7%;
    height: 65vh;

    
}
#tresgrids{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
      margin-right: 10%;

}
#seisgrid{
     display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
    background-color: white;
    margin-top: 5%;
    border: #cfcfcf solid;
    border-radius: 10px;
    width: 30vw;
    height: 62vh;
}
svg{
    height: 4vh;
}
#dois_grid{
    margin-left: 3%;
    margin-top: 5%;
    display: flex;
  
 
}
#pesquisa{
    position: relative;
    height: 5vh;
    width: 25vw;
    border-radius: 20px;
    border: solid black;
    margin-top: 7%;
  margin-right: 15%;
    background-color: #d3f0ff;
}
#pesquisa form{
display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0px;
}
#lupinha{
    margin-top: 2%;
    height: 4vh;
    width: 5vw;
}
#input_procurar{
    position: absolute;
    width: 19.7vw;
    border-radius: 10px;
    height: 100%;
    margin-right: 20%;
    border: none;
    background-color: #d3f0ff;
}



#tres_grid{
    border: #e0e0e0 solid;
    margin-left: 19%;
    width: 70vw;
    border-radius: 10px;
    background-color: #f8f8f8;
display: grid;
grid-template-columns: 1fr 1fr ;
height: 18vh;
}

#perfil{
    height: 13vh;
    margin-bottom: 25%;
}
#tres{
    margin-left: 2%;
}
#porta{
    margin-top: 90%;
}
#circular{
    width: 20vw;
    border: solid #cfcfcf;
     background-color: #f8f8f8;
     border-radius: 10px;
     height: 4vh;
    margin-right: 10%;
    cursor: pointer;
}
#esquerda{
    margin-left: 14%;
    color: #0010a2;
}
#esquerdas{
      margin-left: 30%;
      color: #0f1ea8;;
}
#esq{
    margin-left: 5%;
}
#bordar{
    border: #cfcfcf solid 2px;
}
#linha{
   height: 5vh;
   
}