*{
    margin: 0;
}
body{
    background-color:#C8ECFF;
   overflow: hidden;
}
header{
    margin-left: 5%;
    margin-top: 2%;
    background-color: #C8ECFF;
}

#linha1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
    display: flex;
    flex-direction: row;
}
#linha2{
    display: grid;
     grid-template-columns: 1fr 1fr 1fr;
}
#lupinha {
    height: 10vh;
}
#Logo{
    height: 10vh;
}
#Empresa{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#pesquisa{
    position: relative;
    height: 5vh;
    width: 40vw;
    border-radius: 20px;
    border: solid black;
    margin-top: 1%;
    margin-left: 5%;
    background-color: white;
}
#pesquisa form{
display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0px;
}
main{
    background-color: white;
    height: 73vh;
    width: 72vw;
   margin-left: 10%;
    margin-top: 2%;
   border-radius: 20px;
   border: solid 2px black ;
}
#lista_tipos{
    margin-top: 1%;
    margin-left: 8%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 40px;
    list-style: none;
}
#lista_tipos li{
    color: rgb(60, 60, 61);
    font-size: 1.1em;
}
#nome_cliente{
    color: blue;
    margin-top: 2%;
    font-size: 1.3em;
}
#separar_dois{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
#terceiro{
    width: 10px;
}

input[type="file"]{
opacity: 0;
color: #C8ECFF;
 height: 10vh;
    width: 15vw;
    cursor: pointer;
  
}
#carregar{
    position: relative;
   background-color: blue;
   width: 15vw;
   height: 10vh;
   border-radius: 30px;
   margin-top: 10%;
   margin-left: 20%;
}
#texto_carregar{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
margin-left: 12%;
margin-top: 10%;
    color: #C8ECFF;
}
#icone_baixar{
 
    height: 4vh;
    width: 2vw;
    fill: #C8ECFF;
}
#br_direita{
    height: 4vh;
   margin-bottom: 70%;
font-size: 1.2em;
   font-family:  'Arial Narrow', Arial, sans-serif;
    width: 10vw;
   
   
}
#ul_funcoes{
list-style: none;
display: grid;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
row-gap: 25px;
}
#deutrabalho{
    display: grid;
grid-template-columns: 1fr 1fr;
margin-top: 1%;
gap: 60px;
}
#pastas{
    display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 5px;
}
#favoritos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
gap: 5px;
}
#Compartilhados{
    display: grid;
grid-template-columns: 1fr 1fr;
gap: 5px;
}
#Lixeira{
    display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 5px;
}
#ul_funcoes li svg{
    height: 5vh;
}
#ul_funcoes li div{
    font-size: 1.5em;
}
#lista_funcoes{
    margin-top: 15%;
}
#nomeEmpresa{
    margin-top: 5%;
   font-size: 1.5em;
    color: blue;
    margin-left: 25%;
}
#lupinha{
    margin-top: 2%;
    height: 4vh;
    width: 5vw;
}
#input_procurar{
    position: absolute;
    width: 34.7vw;
    border-radius: 10px;
    height: 100%;
    margin-right: 20%;
    border: none;

}
#premium svg{
    fill: blue;
    height: 5vh;
}
#configurações svg{
 fill: blue;
    height: 5vh;
}
#perfil svg{
    fill: blue;
    height: 5vh;
}
#tres_icones{
    margin-top: 1%;
    margin-left: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    column-gap: 5vw;
}
nav svg{
    fill: blue;

}
#dois_arma{
    display: grid;
    grid-template-columns: 1fr  1fr;
   
}
#diminui_arma{
    font-size: 1.1em;
}
#memoria{
    font-size: 1.35em;
}