*{
    margin: 0;
}

body{
    background-color:#e9f5ff;
 /* overflow: hidden;
  /*
  font: #0f1ea8;
  font:#0010a2;
  */
     font-family: 'Montserrat', sans-serif;
}
.tema-escuro{
   background-color: #09002A;
}
.tema-escuro #colorsss{
    color:#008EF3;
   
}
.tema-escuro #tres_grid{
    background-color:  #211B38;
}
.tema-escuro #perfil{
    fill: rgb(150, 145, 145);
}
.tema-escuro #pesquisa{
    background-color: #3B278A;
}
.tema-escuro #input_procurar{
    background-color: #3B278A;
}
.tema-escuro #colors{
    color:#70B8F2;
}
.tema-escuro #seisgrid{
     background-color:  #211B38;
      color:#70B8F2;
}
.tema-escuro #modo_claro{
   color: #0010A2;
}
.tema-escuro #esquerda{
    color: #4F5EEF;
}
.tema-escuro #esquerdas{
    color: #4F5EEF;
}
.tema-escuro #circular{
     background-color:  #211B38;
      color:#70B8F2;
}
.tema-escuro #parte_azul{
    background-color:  #211B38;
}
.tema-escuro #icone_menu{
background-color: rgb(150, 145, 145);
}
.tema-escuro #portabranca{
background-color: rgb(150, 145, 145);
}
.tema-escuro #feedback{
    background-color:  #211B38;
}
.tema-escuro #feedback textarea{
    background-color: #3B278A;
    color: white;
    border-radius: 10px;
}
#colors{
    color: #0f1ea8;
    font: 1em sans-serif;
}
#colorsss{
    color: #0f1ea8;
    font: 1.5em sans-serif;
}

#duascoisas{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#parte_azul{
    height: 100vh;
    width: 7vw;
    background-color: #70B8F2;
}
#icone_menu{
       height: 7.5vh;
    width: 4.5vw;
    background-color:#ffff;
 margin-left: 13%;
 margin-top: 5%;
  position: relative;
    border-radius: 10px;
}
#texto_config{
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#setegrids{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 7%;
    height: 65vh;
   margin-left: 1%;
    
}
#tresgrids{
    display: grid;
    grid-template-columns: 1fr 1fr  1fr 1fr;
      margin-right: 10%;

}
#seisgrid{
  
    background-color: #70B8F2;
    margin-top: 5%;
    margin-left: 20%;
    border: #122C8E solid;
    border-radius: 10px;
    width: 30vw;
    height: 62vh;
    position: relative;
   
}
svg{
    height: 4vh;
}
#dois_grid{
    margin-left: 3%;
    margin-top: 5%;
    display: flex;
  
 
}
#pesquisa{
    position: relative;
    height: 5vh;
    width: 25vw;
    border-radius: 20px;
    border: solid black;
    margin-top: 7%;
  margin-right: 15%;
    background-color: #d3f0ff;
}
#pesquisa form{
display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0px;
}
#lupinha{
    margin-top: 2%;
    height: 4vh;
    width: 5vw;
}
#input_procurar{
    position: absolute;
    width: 19.7vw;
    border-radius: 10px;
    height: 100%;
    margin-right: 20%;
    border: none;
    background-color: #d3f0ff;
}


#pula{
    margin-top: 2%;
}
#tres_grid{
    margin-top: 2%;
    border: #122C8E solid;
    margin-left: 1%;
    width: 70vw;
    border-radius: 10px;
    background-color: #70B8F2;
display: grid;
grid-template-columns: 1fr 1fr ;
height: 18vh;
}

#perfil{
    height: 13vh;
    margin-bottom: 25%;
}
#tres{
    margin-left: 2%;
}
#porta{
    height: 80vh;
    width: 6vw;
    background-color:#70B8F2;
   
}
#circular{
    width: 28vw;
    border: solid #122C8E;
     background-color: #72c0ff81;
     border-radius: 20px;
     height: 6vh;
    margin-right: 10%;
    cursor: pointer;
      
         
}
#pdentrobuton{
   font-family: 'Montserrat', sans-serif;
   margin-bottom: 90%;
}
#esquerda{
    margin-left: 7%;
    color: #0010a2;
}
#esquerdas{
      margin-left: 25%;
      color: #0f1ea8;;
}
#esq{
    margin-top: 5%;
    margin-left: 5%;
}
#bordar{
    border: #122C8E solid 1px;
   
}
#bordar_lingua{
    border: #122C8E solid 1px;
    position: relative;
    height: 10vh;
    display: flex;
   
}
.tema-escuro #bordar_lingua #seta{
    fill: #8894FF;
}

#bordar_lingua svg{
margin-top: 4%;
margin-left: 1%;
fill: #0010A2;
}

#linha{
   height: 5vh;
   
}
#portabranca{
    height: 10vh;
    margin-top: 500%;
    margin-left: 13%;
    background-color: white;
    width: 4.5vw;
    position: relative;
    border-radius: 10px;
}
#centro{
position: absolute;
margin-left: 25%;
margin-top: 25%;

}
#centros{
position: absolute;
margin-left: 30%;
margin-top: 20%;

}
#check { position: absolute;
width: 70%;
height:100%;
bottom: 2%;
left: 0;
opacity: 0;}

#dropdown-click{
    background-color: #72fff8bb;
    left: 60%;
    right: 3%;
    top: 0%;
    list-style: none;
    z-index: -10;
    opacity: 0;
    position: absolute; 
    transition: 0.5s;
    border: solid 3px #0010a2;
     border-radius: 10px;
}
#liii{

border: solid 1px #0010a2;
}
#dropdown-click #liii p{
   font-family: 'Montserrat', sans-serif;
   
  margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 3%;
}
#check:checked~#dropdown-click{opacity: 1;
z-index: 10;
   }
   #li_inicial{
     height: 5vh; 
    border: #0010a2 solid 1px;
   
   }
   .tema-escuro #li_inicial p{
    color: #07116b;
   }
   #li_inicial p{
      font-family: 'Montserrat', sans-serif;
    font-weight:bolder;
       font-size: 1em;
    margin-top: 5%;
    margin-left: 15%;
   }
.tema-escuro #oiiii{
    color: #07116b;
}
   #oiiii{
    cursor: pointer;
 font-size: 0.9em ;
   }
   #bordar_Fonte{
    border: #122C8E solid 1px;
   position: relative;
  display: flex;
   
}
.tema-escuro #bordar_Fonte #seta{
    fill: #8894FF;;
}
#bordar_Fonte svg{
margin-top: 4%;
margin-left: 8%;
fill: #0010A2;
}

   #checkar{
    position: absolute;
   height: 100%;
   width: 60%;
   opacity: 0;
   }
   #checkar:checked~#lista_fonte{
      z-index: 12;
    opacity: 1;
   }
   #lista_fonte{
    position: absolute;
    list-style: none;
    left: 60%;
    width: 35%;
    background-color: #72fff8bb;
    border: solid 3px #0010a2;
    border-radius: 10px;
    z-index: -10;
    opacity: 0;
    transition: 0.5s;
   }

   #liii p{
   font-family: 'Montserrat', sans-serif;
   
  margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 3%;
}
#modo_claro{
    position: absolute;
    background-color: #B2E4FF;
    width: 6.8vw;
    height: 30.8vh;
    top: 0%;
    left: 56%;
    opacity: 0;
    z-index: -14;
    transition: 0.5s;
}
#modo_claro svg{
    margin-top: 10%;
     margin-left: 34%;
  fill: rgb(223, 223, 25);
}
#modo_claro p{
    font-size: 0.8em;
     margin-left: 12%;
 margin-top: 25%;
}
#modo_claro button{
    background-color: #0010A2;
    color: white;
    border: cyan 4px;
    border-radius: 10px;
        margin-top: 43%;
    margin-left: 15%;
    width: 5vw;
    cursor: pointer;
}
#modo_escuro{
     position: absolute;
    background-color: #09002A;
    width: 6.5vw;
    height: 30.8vh;
    top: 0%;
    left: 78.5%;
    opacity: 0;
    z-index: -14;
    transition: 0.5s;
}
#modo_escuro svg{
 stroke:#ffff;
 fill: #09002A;
 stroke-width: 2em;
 margin-top: 10%;
     margin-left: 37%;
}
#modo_escuro p{
    font-size: 0.8em;
    color: white;
       margin-left: 8%;
 margin-top: 28%;
}
#modo_escuro button{
   background-color: #0010A2;
    color: white;
    border: cyan 4px;
    border-radius: 10px;
        margin-top: 43%;
    margin-left: 12%;
    width: 5vw;
    cursor: pointer;
}
  #bordar_modo{
    border: #122C8E solid 1px;
   position: relative;
  display: flex;
   
}
.tema-escuro #bordar_modo #seta{
    fill: #8894FF;
}
#bordar_modo #seta{
margin-top: 4%;
margin-left: 4%;
fill: #0010A2;
}
#check_modo{
    height: 100%;
    width: 55%;
    position: absolute;
    opacity: 0;
}
#check_modo:checked~#modo_claro{
 opacity: 1;
 z-index: 14;
}
#check_modo:checked~#modo_escuro{
 opacity: 1;
 z-index: 14;
}
#feedback{
    position: absolute;
      width: 30vw;
    height: 62vh;
    background-color: #C1E4F4;
    z-index: -20;
    border-radius: 10px;
    opacity: 0;
    transition: 0.5s;
}
#dois_div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#tres_svg{
    margin-top: 1%;
    margin-left: 25%;
    margin-right: 10%;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#tres_svg svg{
height: 6vh;
}
#dois_div svg{
height: 10vh;
}
#aumenteAA{
      font-size: 1.3em;
}
#desceai{
    margin-top: 10%;
    margin-left: 35%;
    width:  15vw;
}
#textarea_id{
    margin-left: 10%;
    width: 25vw;
    height: 30vh;
      border-radius: 10px;
}
#vaiaa{
    margin-top: 2%;
    margin-left: 55%;
}
#tres_radio{
      margin-left: 28%;
    margin-right: 9%;
    justify-content: center;
    align-items: center;
        display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#botao_enviar{
    margin-top: 3%;
    margin-left: 25%;
    width: 15vw;
    height: 4vh;
    color: #ffff;
    background-color: #0f1ea8;
    border: #ffff;
    border-radius: 10px;
}
#feliz{
    fill:#00658C;

}
#feliz2{
    fill: #2352CC;
}
#meh{
fill:    #5E88DC;

}
#triste{
   fill: #8894FF;

}
#Customizacao{
     z-index: 20;
    opacity: 1;
       display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
    transition: 0.5s;
}